.jumbotron {
  padding-top: 6rem;
  background-color: #00ffff;
}
#project {
  background-color: #00ffff;
}
section {
  padding-top: 5rem;
}
@media (max-width: 80px) {
  .carousel {
    width: 100%; /* Atur lebar carousel menjadi 100% saat layar kecil */
    height: auto; /* Biarkan tinggi carousel menyesuaikan dengan konten */
  }
}
